frontend http80
    bind *:80
    timeout client 100ms
    mode http
    default_backend backend_servers

backend backend_servers
    balance {{ algorithm }}
    mode http
    timeout connect 1000ms
    timeout server 50000ms
    retries 3
    maxconn 70000
    timeout queue 30000
    option httpchk
{%  for server in groups['webservers'] %}
    server {{ hostvars[server]['inventory_hostname'] }} {{ hostvars[server]['ansible_default_ipv4']['address']}}:80
{% endfor %}