frontend httpns
    bind *:80
    timeout client 10000000ms
    mode http
    default_backend backend_servers

backend backend_servers
    balance {{ process }}
    mode http
    timeout connect 1000000ms
    timeout server 500000ms
    timeout queue 600000
    option httpchk
{%  for server in groups['webservers'] %}
    server {{ hostvars[server]['inventory_hostname'] }} {{ hostvars[server]['ansible_default_ipv4']['address']}}:80
{% endfor %}